body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  text-align: center;
}

.main form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.form-group {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
}

.main .details {
  width: 600px;
  border: 1px solid #ddd;
  margin: 15px auto;
  padding: 23px;
  display: inline-block;
  text-align: center;
}

.main .details > div {
  margin: 15px;
  font-weight: 200;
}

.main .details > h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

button {
  padding: 10px;
  margin: 5px;
}

h3 {
  margin: 5px;
  padding: 15px 15px 0px 15px;
  font-weight: 300;
}

.errorMsg {
  padding: 5px;
  margin: 0px;
  font-size: 11px;
  color: red;
}
