@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a9c8f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #833eec;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 2px solid #8b67e6;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #ffffff;
}

.todo-input::placeholder {
  color: #f2c4c44d;
}

.todo-btn {
  background: #361192;
  color: #d5d5d5;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e0adfb;
  color: #000000;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 

/* updated */

/* .todo-input {
  outline: none;
  background: none;
  border: 2px solid #8b67e6;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #ffffff;
  position: relative;
} */

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.dropdown-icon {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #8b67e6;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 1;
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  text-align: left;
  cursor: pointer;
  color: #833eec;
}

.dropdown-menu button:hover {
  background-color: #e0adfb;
}

